<!DOCTYPE html>
<html>
  <head>
    <title>Test Upload</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
    <script src="/javascripts/main.js"></script>
   
  </head>
  <body>
    <h1>test Upload</h1>
    
    <form 
      action="/uploadfile" 
      method="post"
      encType="multipart/form-data"
      >

      <input type="file" name="mifile"><br/><br/><br/>
      <button type="submit">enviar archivo</button>

    </form>
    

  </body>
</html>